* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tile-container{
  height: auto;
  width: 100%;
}

.tile-container > .title{
  text-align: center;
  margin-bottom: 25px;
}

.tile-container > .tile{
  position: relative;
  width: 30%;
  height: 315px;
  display: inline-block;
  box-shadow: 0px 10px 10px 0px gray;
  margin: 0% 1.66%;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}

.tile-container > .tile > .poster{
  height: 100%;
  padding: 0px 0px 20px 0px;
}

.tile-container > .tile > .poster > img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
}

.tile-container > .tile > .description{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  border-radius: 25px;
  visibility: hidden;
}

.tile-container > .tile > .description > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile-container > .tile:hover .description{
  visibility: visible;
}