* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tile-container{
  height: auto;
  width: 100%;
}

.tile-container > .tile{
  position: relative;
  width: 33.33%;
  height: 315px;
  display: inline-block;
}

.tile-container > .tile > .poster{
  object-fit: contain;
}