* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tile-container{
  height: auto;
  width: 100%;
}

.tile-container > .title{
  text-align: center;
  margin-bottom: 25px;
}

.tile-container > .tile{
  position: relative;
  width: 20%;
  height: 350px;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px gray;
  margin: 0% 2.66%;
  border-radius: 15%;
  overflow: hidden;
}

.tile-container > .tile > .poster{
  height: 100%;
}

.tile-container > .tile > .poster > img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
  transition: all 0.25s ease-in-out;
}

.tile-container > .tile > .description{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 100%;
  border-radius: 15%;
  visibility: hidden;
  transition: all 0.025s ease-in-out;
}

.tile-container > .tile > .description > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 50px;
  margin: 0px;
  text-shadow: 0px 5px 10px gray;
  transition: all 0.025s ease-in-out;
}

.tile-container > .tile:hover .description{
  visibility: visible;
}

.tile-container > .tile:hover .poster > img{
  transform: scale(1.25);
}